
.order {
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-pend {
    background-color: #F1C237;
}

.order-comp {
    background-color: #298463;
}


ion-icon {
    font-size: 35px;
    font-weight: bolder;
}

.order {
    padding: 10px;
    border: 1px solid lightgrey;
}

.orderId {

    position: relative;
    top: 12px;

}
.orderStatus {
 
    float: right;
}